body {
  background-color: rgb(50, 99, 205);
  color: black;
}

nav{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  font-size: larger;
  word-spacing: 40px;
}

li {
  font-size: 20px;
}

p {
  font-size: 18px;
}